<!doctype html>
<html class="no-js" lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation 5.4.7 | Welcome</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
<link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="icon-bar five-up">
  <a class="item">
    <i class="fa fa-user"></i>
    <label>Skapa ny användare</label>
  </a>
  <a class="item">
    <i class="fa fa-info"></i>
    <label>Kundinfo</label>
  </a>
  <a class="item">
    <i class="fa fa-folder-open"></i>
    <label>Rapporter</label>
  </a>
</div>

<div class="row"><h1><small>Rapporter</small></h1></div>

<table class="small-2 columns">
    <thead>
        <tr>
           <th>Användare</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><a href="#">johan.karlsson</a></td></tr>
        <tr><td><a href="#">fredrik.bergström</a></td></tr>
        <tr><td><a href="#">lisa.andersson</a></td></tr>
        <tr><td><a href="#">sofia.björk</a></td></tr>
    </tbody>
</table>

<table class="small-10 columns">
  <thead>
    <tr>
      <th width="150">Användare</th>
      <th>Datum</th>
      <th width="150">Projekt</th>
      <th width="200">Arbetsmoment</th>
      <th width="200">Material från bussen</th>
      <th>Timmar</th>
      <th>Resor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>fredrik.bergström</td>
      <td>2014-10-11</td>
      <td>Projekt 3</td>
      <td>Spikade trappen</td>
      <td>Hammare, Spik och Såg</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>fredrik.bergström</td>
      <td>2014-10-12</td>
      <td>Projekt 3</td>
      <td>Spikade trappen</td>
      <td>Hammare, Spik och Såg</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>fredrik.bergström</td>
      <td>2014-10-13</td>
      <td>Projekt 3</td>
      <td>Målade trappen</td>
      <td>Penslar</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>fredrik.bergström</td>
      <td>2014-10-14</td>
      <td>Projekt 3</td>
      <td>Målade trappen</td>
      <td>Penslar</td>
      <td>8</td>
      <td>2</td>
    </tr>
  </tbody>
</table>

</body>

</html>
