{% extends 'head.html' %}
{% block content %}
<div class="row clearfix">
    <h1 style="">
        <small>Rapporter</small>
        <button href="#" id="rapport-project-button" class="tiny right round button dropdown" data-dropdown="dropdown-rapport-project" aria-expanded="true">
            Välj Användare
        </button>
        <ul id="dropdown-rapport-project" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
            <!--
            Här kommer alla namn på projecten med hjälp av jQuery.
            Under ser man ett exempel på hur de kan se ut i html kod.
            <li><a href="#">Bygg på gatan</a></li>
            -->
        </ul>
    </h1>
</div>
<div class="row">
<table class="width-100 responsive">
    <thead>
        <tr>
            <th>Användare</th>
            <th>Datum</th>
            <th>Projekt</th>
            <th>Arbetsmoment</th>
            <th>Material från bussen</th>
            <th>Timmar</th>
            <th>Resor</th>
        </tr>
    </thead>
    <tbody id="rapportUser">
        <!--
        <tr>
            <td>användare</td>
            <td>2014-11-23</td>
            <td>Projekt 3</td>
            <td>Spikade trappen</td>
            <td>Hammare, Spik och Såg</td>
            <td>8</td>
            <td>1</td>
        </tr>
        -->
    </tbody>
</table>
</div>

{% endblock %} {% block jsbody %} {% parent %}
<script>
    $(document).ready(function () {

        $.getJSON('/accountlist', function (data) {

            var liElements = '';

            for (var i = 0; i < data.length; i++) {
                liElements += '<li id="' + data[i].username + '"class="text-center dropdown-rapport-project-li" href="#">' + data[i].username + '</li>';
            }

            $('#dropdown-rapport-project').append(liElements);

            $('.dropdown-rapport-project-li').on('click', function() {
                var userName = this.id;
                popTable(userName);
            });

        });

        function popTable (userName) {
            $.getJSON('/projectuserjobs', { clickedUser: userName } , function (data) {
                var tableContent = '';

                for (var i = 0; i < data.length; i++) {
                    tableContent += '<tr>';
                        tableContent += '<td class="text-center">' + data[i].jobs.username + '</td>';
                        tableContent += '<td class="text-center">' + data[i].jobs.date + '</td>';
                        tableContent += '<td class="text-center">' + data[i].name + '</td>';
                        tableContent += '<td class="text-center">' + data[i].jobs.workActivities + '</td>';
                        tableContent += '<td class="text-center">' + data[i].jobs.busMaterials + '</td>';
                        tableContent += '<td class="text-center">' + data[i].jobs.hours + '</td>';
                        tableContent += '<td class="text-center">' + data[i].jobs.trips + '</td>';
                    tableContent += '</tr>'
                }

                // Tar bort alla li element i ul listan så de inte blir dubbletter
                $('#rapportUser').empty();
                // Lägger till tableContent i ul elementet
                $('#rapportUser').append(tableContent);
            });
        }
    });
</script>
{% endblock %}

