{% extends 'head.html' %}
{% block content %}

<div class="row">
    <h1><small>Rapporter</small></h1>
</div>
<div class="row">
<table class="responsive">
    <thead>
        <tr>
            <th width="150">Användare</th>
            <th>Datum</th>
            <th width="150">Projekt</th>
            <th width="200">Arbetsmoment</th>
            <th width="200">Material från bussen</th>
            <th>Timmar</th>
            <th>Resor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>2014-11-23</td>
            <td>Projekt 3</td>
            <td>Spikade trappen</td>
            <td>Hammare, Spik och Såg</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <td>fredrik.bergström</td>
            <td>2014-10-12</td>
            <td>Projekt 3</td>
            <td>Spikade trappen</td>
            <td>Hammare, Spik och Såg</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <td>fredrik.bergström</td>
            <td>2014-10-13</td>
            <td>Projekt 3</td>
            <td>Målade trappen</td>
            <td>Penslar</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <td>fredrik.bergström</td>
            <td>2014-10-14</td>
            <td>Projekt 3</td>
            <td>Målade trappen</td>
            <td>Penslar</td>
            <td>8</td>
            <td>2</td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}
