{% extends 'head.html' %}
{% block script %}
    {% parent %}
    <link href="../css/datepicker.css" rel="stylesheet">
{% endblock %}
{% block content %}


    <div class="row">
     <h1><small>Tidsrapportering</small></h1>
    </div>
<form action="">
  <div class="row">
    <div class="large-6 columns">
      <label>Projekt:
        <input type="text" placeholder="" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Arbetsmoment:
        <input type="text" placeholder="" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Material från bussen:
        <input type="text" placeholder="" />
      </label>
    </div>
  </div>
    <div class="large-4 columns">
      <div class="row collapse">
      </div>
    </div>


    <div class="row">
    <div class="large-2 columns">
      <label>Antal Timmar:
        <select>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
        </select>
      </label>
      <label>Antal Resor:
        <select>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
        </select>
      </label>
    </div>
  </div>
</div>

</form>

<div class="row">
    <div class="large-4 large columns">
      <div class="calendar">
        <div class="month">
          <a href="#" class="back"></a>
          <a href="#" class="next"></a>
          <h5>September</h5>
          <p>2014</p>
        </div>
        <ul class="weekdays">
          <li><span href="#">Sun</span></li>
          <li><span href="#">Mon</span></li>
          <li><span href="#">Tue</span></li>
          <li><span href="#">Wed</span></li>
          <li><span href="#">Thu</span></li>
          <li><span href="#">Fri</span></li>
          <li><span href="#">Sat</span></li>
        </ul>
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">11</a></li>
          <li><a href="#">12</a></li>
          <li><a href="#">13</a></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">16</a></li>
          <li><a href="#">17</a></li>
          <li><a href="#">18</a></li>
          <li><a href="#" class="active">19</a></li>
          <li><a href="#">20</a></li>
          <li><a href="#">21</a></li>
          <li><a href="#">22</a></li>
          <li><a href="#">23</a></li>
          <li><a href="#">24</a></li>
          <li><a href="#">25</a></li>
          <li><a href="#">26</a></li>
          <li><a href="#">27</a></li>
          <li><a href="#">28</a></li>
          <li><a href="#">29</a></li>
          <li><a href="#">30</a></li>
        </ul>
      </div>
    </div>
  </div>

<br><br>

<div class="row">
    <a href="#" class="button large">Skicka</a>
</div>
{% endblock %}


