{% extends 'head.html' %} {% block script %} {% parent %}
<!-- CDN -->
<meta charset="utf-8">
		<title>Foundation datepicker</title>
		<meta name="description" content="Port of bootstrap datepicker to Zurb Foundation framework">
		<meta name="author" content="Peter Beno, najlepsiwebdesigner@gmail.com">
		<!-- CDN -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<!-- foundation start -->
		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Included CSS Files (Compressed) -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
<!-- 		<link rel="stylesheet" href="foundation/stylesheets/app.css"> -->
		<script src="../lib/foundation/js/vendor/modernizr.js"></script>
<!-- foundation end -->
<!-- foundation datepicker start -->
<script src="../javascript/foundation-datepicker.js"></script>
<link rel="stylesheet" href="../css/foundation-datepicker.css">
<!-- foundation datepicker end -->
<link rel="stylesheet" href="../css/example.css">
<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
<script src="../lib/jquery/dist/jquery.min.js"></script>
{% endblock %} {% block content %}
<div class="row">
    <h1><small>Tidsrapportering</small></h1>
</div>
<form action="">
    <div class="row">
        <div class="large-6 columns">
            <label>Projekt:
                <input type="text" placeholder="" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Arbetsmoment:
                <input type="text" placeholder="" />
            </label>
        </div>
        <div class="large-6 columns">
            <label>Material från bussen:
                <input type="text" placeholder="" />
            </label>
        </div>
    </div>


    <div class="row">
        <div class="large-2 columns">
            <label>Antal Timmar:
                <select>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                </select>
            </label>
            <label>Antal Resor:
                <select>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row date collapse" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
        <div class="large-2 columns">
                <input type="text" value="12-02-2012" readonly="">
        </div>
        <div class="large-1 columns end">
            <span class="prefix"><i class="fa fa-calendar"></i></span>
        </div>
    </div>

</form>

<script>
    $(function () {
        window.prettyPrint && prettyPrint();
        $('#dp1').fdatepicker({
            format: 'mm-dd-yyyy'
        });
        $('#dp2').fdatepicker({
            closeButton: true
        });
        $('#dp3').fdatepicker();
        $('#dp3').fdatepicker();
        $('#dp-margin').fdatepicker();
        $('#dpMonths').fdatepicker();
        var startDate = new Date(2012, 1, 20);
        var endDate = new Date(2012, 1, 25);
        $('#dp4').fdatepicker()
            .on('changeDate', function (ev) {
                if (ev.date.valueOf() > endDate.valueOf()) {
                    $('#alert').show().find('strong').text('The start date can not be greater then the end date');
                } else {
                    $('#alert').hide();
                    startDate = new Date(ev.date);
                    $('#startDate').text($('#dp4').data('date'));
                }
                $('#dp4').fdatepicker('hide');
            });
        $('#dp5').fdatepicker()
            .on('changeDate', function (ev) {
                if (ev.date.valueOf() < startDate.valueOf()) {
                    $('#alert').show().find('strong').text('The end date can not be less then the start date');
                } else {
                    $('#alert').hide();
                    endDate = new Date(ev.date);
                    $('#endDate').text($('#dp5').data('date'));
                }
                $('#dp5').fdatepicker('hide');
            });
        // implementation of disabled form fields
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        var checkin = $('#dpd1').fdatepicker({
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.update(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').fdatepicker({
            onRender: function (date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            checkout.hide();
        }).data('datepicker');
    });
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30989810-2']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>


<br>

<div class="row">
    <center>
        <a href="#" class="button large">Skicka</a>
    </center>
</div>
{% endblock %}
