{% extends 'head.html' %}{% block content %}
<!-- row -->
<div class="row">
    <h1 class="large-12 small-centered columns"><small>Användare</small></h1>
</div>
<!-- row -->
<div class="row">
    <div class="columns">
        <table class="width-100 responsive">
            <thead>
                <tr>
                    <th class="text-center">Användarnamn</th>
                    <th class="text-center">Befogenhet</th>
                    <th class="text-center">Ta bort</th>
                </tr>
            </thead>
            <tbody id="userList">

            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="reveal-modal columns" data-reveal>
    <!-- Lägg till content -->
</div>
{% endblock %} {% block jsbody %} {% parent %}
<script>
    $(document).ready(function () {

        popTable();

        function popTable() {
            $.getJSON('/accountlist', function (data) {

                var tableContent = '';

                $.each(data, function () {
                    tableContent += '<tr>';
                    tableContent += '<td class="text-center">' + this.username + '</td>';
                    tableContent += '<td class="text-center">' + this.type + '</td>';
                    tableContent += '<td id="hej"><a href="#" data-reveal-id="myModal"><center><label id="' + this.username + '" class="label alert deleteuser">Radera</label></a></center></td>';
                    tableContent += '</tr>'
                });

                $('#userList').empty();
                $('#userList').append(tableContent);

                $('.deleteuser').on('click', function () {
                    var userName = this.id;
                    createModal(userName);
                });
            });
        }

        function createModal(userName) {
            var modalContent = '';

            modalContent += '<h2>Varning!</h2>'
            modalContent += '<p class="lead">Är du säker på att du vill ta bort ' + userName + '?</p>'
            modalContent += '<div>'
            modalContent += '<a id="modalCancel" class="button secondary">Cancel</a>'
            modalContent += '<a id="modalConfirm" class="button alert">Confirm</a>'
            modalContent += '</div>'
            modalContent += '<a class="close-reveal-modal">&#215;</a>'

            $('#myModal').empty();
            $('#myModal').append(modalContent);

            $('#modalCancel').on('click', function () {
                $('#myModal').foundation('reveal', 'close');
            })

            $('#modalConfirm').on('click', function () {
                $('#myModal').foundation('reveal', 'close');
                deleteUser(userName);
            })
        }

        // Radera User
        function deleteUser(userName) {
            $.ajax({
                type: 'DELETE',
                url: '/deleteuser/' + userName
            }).done(function (response) {
                // Check for a successful (blank) response
                if (response.msg === '') {} else {
                    alert('Error: ' + response.msg);
                }
                // Update the table
                popTable();
            });

        }

    });
</script>
{% endblock %}

