<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation 5.4.7 | Welcome</title>

    {% block script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
</body>

</html>
