<!doctype html>
<html lang="sv-se">

<head>
    <meta charset="utf-8" />
    <!-- x-csrf-token säkehetsåtgärd -->
    <meta name="x-csrf-token", content="{{ _csrf }}" />
    <!-- För mobilen -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable", content="yes" />
    <title>Proffsbyggen</title>

    {% block script %}
    <!-- Font från google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Foundation -->
    <link rel="stylesheet" href="../lib/foundation/css/foundation.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/responsive-tables.css" />
    {% endblock %}
</head>

<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    <!-- JS Scripts -->
    <!-- Man har JS filer längst ner för att content/DOM ska hinna ladda innan man gör ändringar på den med JS -->
    {% block jsbody %}
    <script src="../lib/foundation/js/vendor/modernizr.js"></script>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../lib/foundation/js/foundation.min.js"></script>
    <script src="../lib/foundation/js/foundation/foundation.topbar.js"></script>
    <script src="../lib/excellentexport/excellentexport.min.js"></script>
    <script src="../js/responsive-tables.js"></script>
    <script>
        $(document).foundation();
    </script>
    {% endblock %}
</body>

</html>
