<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation 5.4.7 | Welcome</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="icon-bar three-up">
        <a class="item" href="SkapaAnvandare.html">
            <i class="fa fa-user"></i>
            <label>Skapa ny användare</label>
        </a>
        <a class="item" href="KundInfo.html">
            <i class="fa fa-th-list"></i>
            <label>Kundformulär</label>
        </a>
        <a class="item" href="admin.html">
            <i class="fa fa-folder-open"></i>
            <label>Rapporter</label>
        </a>
    </div>

    <div class="row">
        <h1><small>Kund Information</small></h1>
    </div>
    <form>
        <div class="row">
            <div class="large-6 columns">
                <label>Projekt:
                    <input type="text" placeholder="" />
                </label>
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Privat</label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Namn:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Personnummer:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="row collapse">
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Efternamn:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Namn:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Personnummer:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="row collapse">
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Efternamn:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Adress:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Postnummer:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Ort:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Telefonnummer:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Fastighetsbeteckning:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Rotavdrag:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Mail:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Org nummer:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <label>Lägenhets nummer:
                    <input type="text" placeholder="" />
                </label>
            </div>
        </div>
    </form>
    <div class="row">
        <center><a href="#" class="button">Spara</a></center>
    </div>
</body>

</html>
