{% extends 'head.html' %} {% block content %}
<!-- row -->
<div class="row">
    <div class="columns">
        <h1><small>Kund Information</small></h1>
    </div>
</div>
<!-- row -->
<div class="row">
    <div class="columns">
        {% include 'flash.html' %}
    </div>
</div>
<form method="POST">
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Projekt:
                <input type="text" placeholder="" name="name" />
            </label>
        </div>
        <div class="large-6 columns">
            <br/>
            <input id="checkbox1" type="checkbox" name="private">
            <label for="checkbox2">Privat</label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <hr>
            <label>Förnamn:
                <input type="text" placeholder="" name="firstName1" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Efternamn:
                <input type="text" placeholder="" name="lastName1" />
            </label>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="row collapse">
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Personnummer:
                <input type="text" placeholder="" name="personalCode1" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <hr>
            <label>Förnamn:
                <input type="text" placeholder="" name="firstname2" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Efternamn:
                <input type="text" placeholder="" name="lastName2" />
            </label>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="row collapse">
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Personnummer:
                <input type="text" placeholder="" name="personalCode2" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <hr>
            <label>Adress:
                <input type="text" placeholder="" name="adress" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Postnummer:
                <input type="text" placeholder="" name="zipCode" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Ort:
                <input type="text" placeholder="" name="city" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Telefonnummer:
                <input type="text" placeholder="" name="phoneNumber" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Fastighetsbeteckning:
                <input type="text" placeholder="" name="cadastral" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Rotavdrag:
                <input type="text" placeholder="" name="rotdeduction" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Mail:
                <input type="email" placeholder="" name="email" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Org nummer:
                <input type="text" placeholder="" name="organizationNumber" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="large-6 columns">
            <label>Lägenhets nummer:
                <input type="text" placeholder="" name="apartmentRental" />
            </label>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <center>
            <input class="button" type="submit" value="Spara" />
            </a>
        </center>
    </div>
</form>
{% endblock %}
