<!-- Navigation -->
<!-- Var tvugen och skaffa en ny navbar eftersom vi använde Icon Bar istället för Top Bar som man har för navigation, Icon Bar blev inge bra i mobilen -->
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <!-- Tom, vi använder ingen title i navbaren -->
            </li>
            <!-- Visas när man använder mobilen -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                {% if user.type == 'admin' %}
                <li>
                    <a href="nyanvandare">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;Skapa ny användare
                    </a>
                </li>
                <li>
                    <a href="kundform">
                        <i class="fa fa-info"></i>&nbsp;&nbsp;Kundformulär
                    </a>
                </li>
                <li class="has-dropdown">
                    <a href=""><i class="fa fa-folder-open"></i>&nbsp;&nbsp;Rapporter</a>
                        <ul class="dropdown">
                        <li><a href="projekt">Projekt</a></li>
                        <li><a href="admin">Användare</a></li>
                </li></ul>
                <li>
                    <a href="anvandare">
                        <i class="fa fa-folder-open"></i>&nbsp;&nbsp;Användare
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="right">
                <li class="has-form">
                    <a href="/logout" class="button">Logga ut</a>
                </li>
            </ul>
        </section>
    </nav>
</div>
