
{% extends 'head.html' %}
{% block content %}

    <div class="row">
        <h1><small>Skapa ny användare</small></h1>
        <div class="small-4 columns">
            <label>Användarnamn:
                <input type="text" placeholder="" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-4 columns">
            <label>Lösenord:
                <input type="password" placeholder="" />
            </label>
        </div>
    </div>
    <div class="row">
        <a href="#" class="button">Spara</a>
    </div>
{% endblock %}
