{% extends 'head.html' %}
{% block content %}
<div class="row">
    <div class="small-6 small-centered columns">
        <h1><small>Skapa ny användare</small></h1>
        <label>Användarnamn:
            <input type="text" placeholder="" />
        </label>
    </div>
</div>

<div class="row">
    <div class="small-6 small-centered columns">
        <label>Lösenord:
            <input type="password" placeholder="" />
        </label>
        <center><a href="#" class="button">Spara</a>
        </center>
    </div>
</div>
{% endblock %}
ss
