{% extends 'head.html' %} {% block content %}
<div class="row">
    <h1 class="large-12 small-centered columns"><small>Användare</small></h1>
</div>
<div class="row">
    <div class="columns">
        <table class="width-100">
            <thead>
                <tr>
                    <th class="text-center">Namn</th>
                    <th class="text-center">Gata</th>
                    <th class="text-center">Postnummer</th>
                    <th class="text-center">Stad</th>
                    <th class="text-center">Telefon</th>
                    <th class="text-center">Fastighet</th>
                    <th class="text-center">Rot</th>
                    <th class="text-center">Org nr</th>
                    <th class="text-center">Lägenhet</th>
                </tr>
            </thead>
            <tbody id="userList">

            </tbody>
        </table>
    </div>
</div>

{% endblock %} {% block jsbody %} {% parent %}
<script>
    $(document).ready(function () {

        $.getJSON('/projectsinfo', function (data) {
            console.log(data);

            var tableContent = '';

            $.each(data, function () {
                tableContent += '<tr class="text-center">';
                tableContent += '<td class="text-center">' + this.name + '</td>';
                tableContent += '<td class="text-center">' + this.adress.adress + '</td>';
                tableContent += '<td class="text-center">' + this.adress.zipCode + '</td>';
                tableContent += '<td class="text-center">' + this.adress.city + '</td>';
                tableContent += '<td class="text-center">' + this.adress.phoneNumber + '</td>';
                tableContent += '<td class="text-center">' + this.adress.cadastral + '</td>';
                tableContent += '<td class="text-center">' + this.adress.rotdeduction + '</td>';
                tableContent += '<td class="text-center">' + this.adress.organizationNumber + '</td>';
                tableContent += '<td class="text-center">' + this.adress.apartmentRental + '</td>';
                tableContent += '</tr>'
            });

            $('#userList').empty();
            $('#userList').append(tableContent);
        });
    });
</script>
{% endblock %}
